h2{
    text-align: center;
    color: rgb(165, 8, 8);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.col-md-12{
    background-color: aqua;
}

.row{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
   
}

table{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}
